# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/A capital letter or a digit/out/
/Problems/A capital letter or a digit/out/production/classes/
/Problems/Bank account/out/
/Problems/Bank account/out/production/classes/
/Problems/Boys in the sport class/out/
/Problems/Boys in the sport class/out/production/classes/
/Problems/Constructor property/out/
/Problems/Constructor property/out/production/classes/
/Problems/Hello, Kotlin/out/
/Problems/Hello, Kotlin/out/production/classes/
/Problems/Reddit/out/
/Problems/Reddit/out/production/classes/
/Problems/Reversing a number/out/
/Problems/Reversing a number/out/production/classes/
/Problems/Sequence/out/
/Problems/Sequence/out/production/classes/
/Problems/Strings as objects/out/
/Problems/Strings as objects/out/production/classes/
/Problems/The largest element/out/
/Problems/The largest element/out/production/classes/
/Problems/The sequence 1 2 2 3 3 3/out/
/Problems/The sequence 1 2 2 3 3 3/out/production/classes/
/Problems/Vowel or not/out/
/Problems/Vowel or not/out/production/classes/